$primary-color: #333;
$secondary-color: #0d273d;
$accent-color: #386ca3;
$text-color: #fff;
$border-radius: 5px;

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  color: $accent-color;
  margin: 20px 0;
}

#drum-machine {
  background-color: $secondary-color;
  padding: 20px;
  border-radius: $border-radius;
  width: 300px;
  text-align: center;
}

.pad-bank {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.drum-pad {
  background-color: $primary-color;
  color: $text-color;
  border: 1px solid $accent-color;
  border-radius: $border-radius;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#display {
  color: $text-color;
  margin-bottom: 20px;
  background-color: $primary-color;
  padding: 10px;
  border-radius: $border-radius;
}